<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="/scripts/agent-redir-ws-0.1.1.js" type="text/javascript"></script>
        <script src="https://support.zepli.com.au/scripts/agent-desktop-0.0.2.js" type="text/javascript"></script>
        <script src="https://support.zepli.com.au/scripts/common-0.0.1.js" type="text/javascript"></script>
        %sveltekit.head%
    </head>
    <body data-sveltekit-preload-data="hover">
        <script type="application/javascript">
            const bob = 'test';
        </script>
        <div style="display: contents">%sveltekit.body%</div>
    </body>
</html>
